@font-face {
  font-family: "Poppins";
  src: url("../../fonts/PoppinsBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/PoppinsRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../../fonts/PoppinsMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

@font-face {
  font-family: "Poppins Thin";
  src: url("../../fonts/PoppinsThin.woff2") format("woff2");
  font-weight: 250;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../../fonts/PoppinsSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

@font-face {
  font-family: "Poppins ExtraBold";
  src: url("../../fonts/PoppinsExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
