html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/PoppinsBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/PoppinsRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../../fonts/PoppinsMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: "Poppins Thin";
  src: url("../../fonts/PoppinsThin.woff2") format("woff2");
  font-weight: 250;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: "Poppins SemiBold";
  src: url("../../fonts/PoppinsSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
@font-face {
  font-family: "Poppins ExtraBold";
  src: url("../../fonts/PoppinsExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}
:root {
  --color-black: #353732;
  --color-white: #fafafa;
  --font-family-base: "Poppins", "sans-serif";
  --borderRadius: 1em;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header__nav__title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-black);
  text-decoration: none;
  cursor: pointer;
}

.header__burger__wrapper {
  display: none;
}

.header__burger {
  transition: all 0.7s, font-size 0s;
  transition-timing-function: cubic-bezier(0.68, -0.35, 0.265, 1.35);
  font-size: 1;
  cursor: pointer;
  padding: 1em;
}
.header__burger.showHitArea {
  border: 1px solid var(--color-black);
}
.header__burger > div {
  transition: all 0.1s 0.3s, font-size 0s;
  width: 2.5em;
  height: 0.3em;
  border-radius: var(--borderRadius);
  background: var(--color-black);
  position: relative;
}
.header__burger > div::before, .header__burger > div::after {
  transition: all 0.3s 0.2s, font-size 0s;
  content: "";
  display: block;
  position: absolute;
  width: 2.5em;
  height: 0.3em;
  background: var(--color-black);
  border-radius: var(--borderRadius);
}
.header__burger > div::before {
  margin-top: -0.84em;
}
.header__burger > div::after {
  margin-top: 0.84em;
}
.header__burger.toggled {
  transform: rotate(180deg);
}
.header__burger.toggled > div::before {
  transform: rotate(45deg) translate(0.6em, 0.6em);
}
.header__burger.toggled > div {
  background: transparent;
}
.header__burger.toggled > div::after {
  transform: rotate(-45deg) translate(0.6em, -0.6em);
}

.header__burger__menu {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 100;
}

.header__burger__menu-active {
  transform: translateX(0);
}

.header__burger__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-white);
}

@media (max-width: 420px) {
  .header__nav {
    display: none;
  }
  .header__burger__wrapper {
    display: block;
  }
}
.main__container {
  overflow: hidden;
  box-sizing: border-box;
  margin-inline: auto;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
}

/*# sourceMappingURL=index.css.map */
